.container {
  max-width: 1396px;
  margin: var(--app-margin) auto;
  height: calc(100vh - var(--app-margin) - var(--app-margin));
  overflow: hidden;
  background-color: var(--dark-2);
  display: flex;
  flex-direction: row;
}


.leftPanel {
  background-color: var(--dark-3);
  flex: 1;
  border-right: 1px solid var(--border);
}


.main {
  height: 100%;
  flex: 3;
  background-color: var(--dark-2);
}